.my-wrap{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
@media(min-width:760px) {
  .my-wrap{
    flex-direction: row;
  }
  .my-wrap h3{
    border-bottom: 2px solid #666;
    margin: 0;
    padding: 20px 0;
  }
  .leftnav-wrap{
    width: 260px;
    background-color: pink;
    text-align: center;

  }
  .leftnav-wrap a{
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  .leftnav-wrap a:hover{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.15);
  }
}
.nav-header{
  flex-shrink: 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:80px;
  background-color: pink;
  padding: 0 5px;
}
.btn-default:active:focus, .btn-default:active:hover{
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
.btn:active:focus, .btn:focus{
  outline: none;
}
.nav-header h3{
  margin: 0;
  color: #666;
  font-weight: bold;
}
.nav-header button{
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: #666;
}
.main{
  display: flex;
  flex-grow: 1;
  overflow-y: scroll;
}
.nav-footer{
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
  height: 80px;
  background-color: pink;
  align-items: center;
}
.nav-footer a{
  color: #666;
  font-size: 18px;
  text-align: center;
  border-right: 2px solid #fff;
  flex-grow: 1;
}
.nav-footer a:last-child{
  border: none;
}
.home-wrap{
  display: flex;
  flex-grow: 1;
  background-image: url(./images/me.jpg);
  background-position: center;
  background-size: cover;
}
.home-cover{
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  flex-grow: 1;
  align-items: center;
}
.home-item{
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
.btn-default:active:focus, .btn-default:active:hover{
  background-color: pink;
}
.about-wrap{
  flex-grow: 1;
  padding: 10px;
}
.git-card{
  width: 100%;
  border: 1px solid #666;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 6px;
  padding: 10px;
}
.about-form{
  display: inline;
  margin: 0 auto;
  width: 90%;
  max-width: 90%;
}
.show-git{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 6px;
  font-size: 16px;
  color: pink;
  justify-content: space-around;
  padding: 10px 0;
}

.blog-card{
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 700px;
}
.blog-wrap{
  flex-grow: 1;
  margin-top: 20px;
}
.blog-index{
  background-color: pink;
  font-size: 28px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
}
.blog-index span{
  border-radius: 50%;
  border: 2px solid #666;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
}
.blog-content{
  box-shadow: rgba(0,0,0,0.5) 1px 2px 6px;
  padding: 10px;
  color: #666;
}
.blog-content h3{
  margin: 10px 0;
}
.item-wrap{
  flex-grow: 1;
}
